/* =========== ABOUT ME SECTION =========== */
/* Use this to style the about me image */

.sidebar-my-image {
    width: 125px;
    height: 125px;       
    border-radius: 50%;
    display: block;
    margin: auto;
    object-fit: cover;  
}

/* POSITION SOCIAL MEDIA ICONS */
.sidebar-social-media{
    padding: 5px;
    text-align: center;
    
  
}

/* SOCIAL MEDIA ICONS */
.sidebar-social-icon{
display: inline-block;
color:#EC4899;;
padding: 10px;
margin: 10px;
background-color: lightgrey;
border: 3px solid mediumpurple;

}


/* =========== CTS SECTION =========== */

/* CTS Image Logo */
.sidebar-cts-logo{
    width: 100%;
}

/* CTS LINK */
.sidebar-cts-link{
    display: block;
    color: black;                 
    background-color: lightgrey;      
    border: 3px solid hotpink;      
    text-decoration: none;          
    padding: 20px;                
    margin-top: 10px;
    text-align: center;
}


/* =========== TAGS SECTION =========== */

.sidebar-tag {
    display: inline-block;
    padding: 12px;
    margin: 3px;
    color: #ffffff;             
    background-color: rebeccapurple;

}


.sidebar-tag:hover {
    background-color: #EC4899;
    color: black;
}

.sidebar-my-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.sidebar-title{
    font-weight: bold
}